body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  padding-top: 15px;
}

.button {
  margin-top: 5px;
}

.button-1{
  padding: 5px;
  background: #ccc;
  border: 1px solid #ccc;
  margin-right: 5px;
  color: #000;
  border-radius: 4px;
}

.input {
  padding: 5px;
  border: 1px solid #ccc;
  margin-right: 5px;
}

.completed {
  text-decoration: line-through;
}